backend/node_modules
backend/.env
backend/package-lock.json
backend/public/images/commissioner_candidates/*
backend/public/images/director_candidates/*
backend/public/images/sliders/*

frontend/node_modules
frontend/dist
frontend/package-lock.json
frontend/.env

backend_email_worker/node_modules
backend_email_worker/.env
backend_email_worker/package-lock.json
backend_email_worker/public/*
